<html>
  <head>
    <title>Living.io</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', '{{data.citya}}', '{{data.cityb}}'],
          ['JAN', {{data.a1}}, {{data.b1}}],
          ['FEB', {{data.a2}}, {{data.b2}}],
          ['MAR', {{data.a3}}, {{data.b3}}],
          ['APR', {{data.a4}}, {{data.b4}}],
          ['MAY', {{data.a5}}, {{data.b5}}],
          ['JUN', {{data.a6}}, {{data.b6}}],
          ['JUL', {{data.a7}}, {{data.b7}}],
          ['AUG', {{data.a8}}, {{data.b8}}],
          ['SEP', {{data.a9}}, {{data.b9}}],
          ['OCT', {{data.a10}}, {{data.b10}}],
          ['NOV', {{data.a11}}, {{data.b11}}],
          ['DEC', {{data.a12}}, {{data.b12}}]
        ]);

        var data2 = google.visualization.arrayToDataTable([
          ['Year', '{{data.citya}} Low', '{{data.citya}} High', '{{data.cityb}} Low', '{{data.cityb}} High'],
          ['JAN', {{data.al1}}, {{data.ah1}}, {{data.bl1}}, {{data.bh1}}],
          ['FEB', {{data.al2}}, {{data.ah2}}, {{data.bl2}}, {{data.bh2}}],
          ['MAR', {{data.al3}}, {{data.ah3}}, {{data.bl3}}, {{data.bh3}}],
          ['APR', {{data.al4}}, {{data.ah4}}, {{data.bl4}}, {{data.bh4}}],
          ['MAY', {{data.al5}}, {{data.ah5}}, {{data.bl5}}, {{data.bh5}}],
          ['JUN', {{data.al6}}, {{data.ah6}}, {{data.bl6}}, {{data.bh6}}],
          ['JUL', {{data.al7}}, {{data.ah7}}, {{data.bl7}}, {{data.bh7}}],
          ['AUG', {{data.al8}}, {{data.ah8}}, {{data.bl8}}, {{data.bh8}}],
          ['SEP', {{data.al9}}, {{data.ah9}}, {{data.bl9}}, {{data.bh9}}],
          ['OCT', {{data.al10}}, {{data.ah10}}, {{data.bl10}}, {{data.bh10}}],
          ['NOV', {{data.al11}}, {{data.ah11}}, {{data.bl11}}, {{data.bh11}}],
          ['DEC', {{data.al12}}, {{data.ah11}}, {{data.bl12}}, {{data.bh12}}]
        ]);

        var options = {
          title: 'Average Precipitation (Inches)',
          curveType: 'function',
          legend: { position: 'right' }
        };

        var options2 = {
          title: 'Average Low and High Temperature (C)',
          curveType: 'function',
          legend: { position: 'right' },
          series: {
            0: {color: 'blue'},
            1: {color: '#8c21ff'},
            2: {color: 'red'},
            3: {color: '#ff6021'}
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));
        chart.draw(data, options);
        chart2.draw(data2, options2);
      }
    </script>
  </head>
  <body class="index-page">

    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <div id="curve_chart2" style="width: 900px; height: 500px"></div>

  </body>
</html>