<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
	<link rel="icon" type="image/png" href="/static/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Living.io</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/material-kit.css" rel="stylesheet"/>

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="/static/css/demo.css" rel="stylesheet" />

	   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', '{{data.citya}}', '{{data.cityb}}'],
          ['JAN', {{data.a1}}, {{data.b1}}],
          ['FEB', {{data.a2}}, {{data.b2}}],
          ['MAR', {{data.a3}}, {{data.b3}}],
          ['APR', {{data.a4}}, {{data.b4}}],
          ['MAY', {{data.a5}}, {{data.b5}}],
          ['JUN', {{data.a6}}, {{data.b6}}],
          ['JUL', {{data.a7}}, {{data.b7}}],
          ['AUG', {{data.a8}}, {{data.b8}}],
          ['SEP', {{data.a9}}, {{data.b9}}],
          ['OCT', {{data.a10}}, {{data.b10}}],
          ['NOV', {{data.a11}}, {{data.b11}}],
          ['DEC', {{data.a12}}, {{data.b12}}]
        ]);

        var data2 = google.visualization.arrayToDataTable([
          ['Year', '{{data.citya}} Low', '{{data.citya}} High', '{{data.cityb}} Low', '{{data.cityb}} High'],
          ['JAN', {{data.al1}}, {{data.ah1}}, {{data.bl1}}, {{data.bh1}}],
          ['FEB', {{data.al2}}, {{data.ah2}}, {{data.bl2}}, {{data.bh2}}],
          ['MAR', {{data.al3}}, {{data.ah3}}, {{data.bl3}}, {{data.bh3}}],
          ['APR', {{data.al4}}, {{data.ah4}}, {{data.bl4}}, {{data.bh4}}],
          ['MAY', {{data.al5}}, {{data.ah5}}, {{data.bl5}}, {{data.bh5}}],
          ['JUN', {{data.al6}}, {{data.ah6}}, {{data.bl6}}, {{data.bh6}}],
          ['JUL', {{data.al7}}, {{data.ah7}}, {{data.bl7}}, {{data.bh7}}],
          ['AUG', {{data.al8}}, {{data.ah8}}, {{data.bl8}}, {{data.bh8}}],
          ['SEP', {{data.al9}}, {{data.ah9}}, {{data.bl9}}, {{data.bh9}}],
          ['OCT', {{data.al10}}, {{data.ah10}}, {{data.bl10}}, {{data.bh10}}],
          ['NOV', {{data.al11}}, {{data.ah11}}, {{data.bl11}}, {{data.bh11}}],
          ['DEC', {{data.al12}}, {{data.ah11}}, {{data.bl12}}, {{data.bh12}}]
        ]);

        var options = {
          title: 'Average Precipitation (Inches)',
          curveType: 'function',
          legend: { position: 'right' }
        };

        var options2 = {
          title: 'Average Low and High Temperature (C)',
          curveType: 'function',
          legend: { position: 'right' },
          series: {
            0: {color: 'blue'},
            1: {color: '#8c21ff'},
            2: {color: 'red'},
            3: {color: '#ff6021'}
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));
        chart.draw(data, options);
        chart2.draw(data2, options2);
      }
    </script>
</head>

<body class="tutorial-page">

<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a href="/">
           <div class="logo-container">
                <div class="brand">
                    Living.io
                </div>
            </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
		<ul  class="nav navbar-nav navbar-right">
			<li>
				<a href="/queries">Find</a>
			</li>
			<li>
                <a href="/compare">Compare</a>
            </li>
    	</ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="wrapper">
	<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1 class="title text-center">Results</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
		<div class="section">
	        <div class="container">
				<div class="row tim-row">
	                <h2 class="text-center">What am I Looking At</h2>
	                <legend></legend>
	                <div class="col-md-8 col-md-offset-2">
	                <p>
	                	The charts below compare the monthly climatological profiles of two different cities, to get a sense of the differences in overall level as well as seasonal changes. The first plot compares the monthly average precipitation levels. The second plot compares the monthly averages of high versus low temperatures, comparing between the two cities.
	                </p>
	                </div>
	            </div>
				<div class="row tim-row">
	                <h2 class="text-center">Average Precipitation (Inches)</h2>
	                <div id="curve_chart" style="left: -10px width: 900px; height: 500px"></div>
	                <h2 class="text-center">Average Low and High Temperature (C)</h2>
					<div id="curve_chart2" style="left: -10px width: 900px; height: 500px"></div>
	                <legend></legend>
	            </div>
	        </div>
	    </div>
	</div>

</div>
<footer class="footer footer-transparent">
    <div class="container">
        <nav class="pull-left">
        </nav>
        <div class="copyright">
        </div>
    </div>
</footer>

</body>
	<!--   Core JS Files   -->
	<script src="/static/js/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/static/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="/static/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="/static/js/material-kit.js" type="text/javascript"></script>

	<script>

		$().ready(function(){

			$(window).on('scroll', materialKit.checkScrollForTransparentNavbar);

		});

</script>
</html>
